<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.solarwindsmsp.bluesky</string>
	<key>ProgramArguments</key>
	<array>
		<string>/var/bluesky/bluesky.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>bluesky</string>
    <key>StandardOutPath</key>
	<string>/var/bluesky/main.stdout</string>
	<key>StandardErrorPath</key>
	<string>/var/bluesky/main.stdout</string>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>
