body{
	font-family: "Trebuchet MS", arial;
}

h3{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-style: italic;
}

.tdFormCaption{
	border-top: solid 1px white;
	border-left: solid 1px white;
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}

.tdFormFooter{
	border-top: solid 1px white;
	border-left: solid 1px white;
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
	padding: 3px;
}

.tdFormInput{
	font-size: 14px;
	border-top: solid 1px white;
	border-left: solid 1px white;
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
	padding-left: 5px;
	padding-right: 2px;
	padding-bottom: 8px;
}

.tdHeader{
	border-top: solid 1px white;
	border-left: solid 1px white;
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
	padding-left: 5px;
	padding-right: 5px;
}

.tdFooter{
	border-top: solid 1px white;
	border-left: solid 1px white;
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
	padding-left: 5px;
	padding-right: 5px;
	width: 33%;
}

.tdCaptionCell{
	border-top: solid 1px white;
	border-left: solid 1px white;
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
}

.tdCell{
	border-top: solid 1px white;
	border-left: solid 1px white;
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
	padding-left: 2px;
	padding-right: 2px;
}

.tdCell:hover{
}

.formTextBox{
	border: solid 1px black;
	font-family: "Trebuchet MS", arial;
	font-size: 16px;
	padding-left: 2px;
	padding-right: 2px;
}

.ColCaption{
	font-weight: bold;
	font-size: 16px;
}

.navLink{
	font-size: 12px;
	text-decoration: none;
}
.navLink:hover{
	text-decoration: underline;
}

.status{
	width: 500px;
	border: solid 1px silver;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.error{
	width: 500px;
	border: solid 1px red;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	margin: 20px auto;
}

.highlight{
	font-weight: bold;
	padding-right: 5px;
}