<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="connections-timestamp-<%%VALUE(id)%%>" class=""><%%VALUE(timestamp)%%></td>
		<td id="connections-sourceIP-<%%VALUE(id)%%>" class=""><%%VALUE(sourceIP)%%></td>
		<td id="connections-adminkey-<%%VALUE(id)%%>" class=""><%%VALUE(adminkey)%%></td>
		<td id="connections-targetPort-<%%VALUE(id)%%>" class=""><%%VALUE(targetPort)%%></td>
		<td id="connections-exitStatus-<%%VALUE(id)%%>" class=""><%%VALUE(exitStatus)%%></td>
		<td id="connections-startTime-<%%VALUE(id)%%>" class=""><%%VALUE(startTime)%%></td>
		<td id="connections-endTime-<%%VALUE(id)%%>" class=""><%%VALUE(endTime)%%></td>
		<td id="connections-notes-<%%VALUE(id)%%>" class=""><%%VALUE(notes)%%></td>
