<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'global_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="global-clickhere-<%%VALUE(id)%%>" class="global-clickhere "><%%SELECT%%><%%VALUE(clickhere)%%><%%ENDSELECT%%></td>
		<td id="global-updateNames-<%%VALUE(id)%%>" class="global-updateNames "><%%SELECT%%><%%VALUE(updateNames)%%><%%ENDSELECT%%></td>
